{{title}}

<div>
  <button (click)="onClickComponent()">Insert component</button>
  <button (click)="onClickTemplate(declaratedTemplateRef)">Insert template</button>
  <button (click)="onClickClear()">Clear</button>
</div>

<div #viewContainer></div>

<ng-container *ngTemplateOutlet="declaratedTemplateRef"></ng-container>
<ng-container *ngComponentOutlet="component$ | async"></ng-container>

<ng-template #declaratedTemplateRef let-contextName="name" let-nameDefault>
  <h3>Its template {{contextName}} {{nameDefault}}</h3>
  <app-declarated></app-declarated>
</ng-template>